/* Global Styles */

.heading {
  cursor: pointer;
  /* Cambiar el cursor a una mano señalando */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


body {

  font-family: Arial, sans-serif;
  background-color: #09bacd;

}

header {
  background-image: url('../IMG/logo.jpg');
  background-size: 260px 260px; /* Ancho x Alto */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #282828;
  color: #fff;
  padding-bottom: 20px;

  display: flex;
  justify-content:flex-end; /* Alinea los elementos del nav al final del header */
  align-items: flex-end; /* Alinea los elementos del nav en la parte inferior del header */
  height: 170px; /* Por ejemplo, puedes ajustar esta altura según tus necesidades */
}

nav {
  margin-top: 100px;
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Elimina cualquier margen predeterminado */
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  
  font-size: 20px;
  color: #d34b79;
  text-decoration: none;
  transition: color 0.3s ease, font-size 0.2s ease; /* Agregamos transición para el color y el tamaño de fuente */
}

nav ul li a:hover {
  color: #fbff00;
  font-size: 22px; /* Aumentamos ligeramente el tamaño de fuente al pasar el cursor */
  text-decoration: none;
}

/* Section Styles */

section {
  /*centrar al centro*/
  margin: 0 auto;
  padding: 20px;
  /*crear espacio entre los sections*/
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;

  /* Add borders */
  border-radius: 5px;
  background-color:#09bacd;
}

section h1,
h2,
p {
  text-align: center;
  font-family: 'great Vibes', cursive;
}

section h2 ul li {
  text-align: center;
  /*estilo de fuente*/
  font-family: 'great Vibes', cursive;
}

/* Estilos para el contenido principal */
.contenido {
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 2px solid #ced4da;
}

/* Estilos para el contenedor del slider */
.slider {
  margin: 0;
  padding: 0;
  width: 80%;
  /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
  /* Centra el slider horizontalmente */
  overflow: hidden;
  /* Oculta las partes de las imágenes que estén fuera del contenedor */
}

/* Estilos para las imágenes dentro del slider */
.slider img {
  width: 10%;
  /* Haz que las imágenes ocupen todo el ancho del contenedor */
  height: auto;
  /* Permite que la altura se ajuste automáticamente */
}

/* CSS para centrar el slider */
.image-container {
  margin: 0 auto;
  /* Margen automático a izquierda y derecha */
  text-align: center;
  /* Centrar las imágenes horizontalmente */
  margin-bottom: 50px;
  margin-top: 50px;
  /* Margen automático arriba y abajo */
}

/* Estilos para el menú */
#menu {
  width: auto;
  padding: 20px;
  border: none;
  background-color: #09bacd;
}

/* Estilos para las secciones */
.menu-section {
  background-color: #ffffff;
  /* Color de fondo */
  border: 2px solid #ced4da;
  /* Borde */
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 5px;
  /* Espaciado interno */
  margin-bottom: 20px;
  /* Espaciado inferior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra */
}

.menu-section h2 {
  text-align: center;
  color: #343a40;
  /* Color del texto del título */
  font-size: 24px;
  /* Tamaño del texto del título */
  margin-bottom: 15px;
  /* Espaciado inferior del título */
}

.menu-section ul {
  /*sin estilo*/
  list-style: none;
  /*centrar ul*/
  text-align: center;
}

.menu-section ul li {
  padding-right: 50px;
  text-align: center;
  /*estilo letra y tamaño*/
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

.menu-section img {
  /*tamaño pequeño de la imagen*/
  width: 300px;
  /*altura de la imagen*/
  height: 250px;
  /*centrado*/
  margin: 0 auto;
}

/* Estilos para Nosotros */
#nosotros {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  /*crear borde*/
  border: 2px solid #ced4da;
  /*ancho prefijado para un section*/
  width: 50%;
  /*altura prefijada para un section*/
}

/* Estilos para Fotos */
#fotos {
  grid-template-columns: repeat(2, minmax(100px, 200px));
  /* Reduce el tamaño máximo de las columnas */
  grid-template-rows: repeat(2, minmax(100px, 100px));
  /* Reduce el tamaño máximo de las filas */
  grid-gap: 200px;
  margin-top: 30px;
}

#fotos img {
  max-width: 300px;
  /* Ajusta este valor al ancho máximo deseado */
  max-height: 300px;
  /* Ajusta este valor al alto máximo deseado */
}

/* Estilos para Reservas */
#reservas {
  background-color: #09bacd;
}

/* Estilo para el contenedor del formulario */
#reservaForm {
  box-sizing: border-box; /* Incluye el padding y el border en el ancho especificado */
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas */
#reservaForm label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

/* Estilo para los campos de entrada */
#reservaForm input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* Estilo para el botón de enviar */
#reservaForm button {
  width: 100%;
  padding: 0.75rem;
  background-color: #09bacd;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Estilo para el botón de enviar al pasar el ratón */
#reservaForm button:hover {
  background-color: #d34b79;
}

#mensaje {
  /*fuente de estilo formal y en negrita*/
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#contacto {
  padding: 30px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.contact {

  padding: 30px;
}

.contact-info {
  margin: 20px;
}

.contact-info h3 {
  color: #333;
}

.contact-info form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-info form input[type="text"],
.contact-info form input[type="email"],
.contact-info form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-info form textarea {
  resize: vertical;
}

.contact-info form button {
 width: 100%;
  padding: 0.75rem;
  background-color: #09bacd;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.contact-info form button:hover {
  background-color: #eb417b;
}

.contact-info p {
  margin-bottom: 60px;
}

.contact-info ul {
  display: flex;
  justify-content: center;
}

.contact-info ul li {
  margin-bottom: 5px;
}

.contact-info ul li a {
  text-decoration: none;
  color: #007bff;
  padding-right: 100px;
}

.contact-info ul li a:hover {
  text-decoration: underline;
}

/* Estilo para el contenedor del mapa */
#map-container {
  /* Centrar el mapa horizontalmente */
  margin: 0 auto;
  /* Establecer una anchura máxima para el contenedor */
  max-width: 800px;
  /* Establecer un margen superior y inferior */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilo para el mapa */
#mapid {
  /* Establecer una altura para el mapa */
  height: 400px;
  z-index: 1; /* Valor de z-index más alto para el mapa */
}

footer {
  background-color: #333;
  color: #d34b79;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  
}




/* Media query para dispositivos con un ancho de pantalla de 600px o menos */
@media only screen and (max-width: 600px) {
  /* Estilos para dispositivos móviles */

  /* Estilos comunes para todas las resoluciones */
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Encabezado */
  header {
    width: 100%;
    background-size: 160px 160px; /* Ajusta el tamaño del logo */
    padding-top: 30px; /* Añade espacio en la parte superior */
  }

  /* Menú de navegación */
  nav {
    margin: 0 auto;
  }

  nav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  nav ul li {
    display: inline;
    margin: 10px 0;
    padding-right: 5px;
    text-align: center; /* Centra los elementos */
  }

  nav ul li a {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

  nav ul li a:hover {
    color: #fbff00;
    font-size: 15px; /* Aumentamos ligeramente el tamaño de fuente al pasar el cursor */
    text-decoration: none;
  }

  /* Secciones */
  section {
    width: 90%; /* Ajusta el ancho para que sea más estrecho */
    margin: 0 auto;
   
  }
  

.contenido{
  width: 80%;
  margin: 20px auto;
  margin-bottom: 100px;
}

#nosotros {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 100px; /* Ajusta el margen inferior para dejar espacio para el footer */
}




  /* Estilos para el menú */
  #menu {
    padding: 10px; /* Reducir el padding */
  }

  .menu-section h2 {
    font-size: 20px; /* Reducir el tamaño del título */
  }

  .menu-section ul li {
    padding-right: 20px; /* Reducir el espaciado entre elementos del menú */
  }

  .menu-section img {
    width: 100%; /* Ajustar el ancho de la imagen al contenedor */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
  }

  /* Contenedor del formulario de reserva */
  #reservaForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 95vw; /* Utiliza un ancho máximo relativo */
    margin: 0 auto;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  #reservas {
    background-color: #09bacd;
    margin: 20px auto;
    margin-bottom: 100px;
  }

  #reservaForm label {
    font-size: 1.1rem; /* Tamaño de fuente más grande */
  }

  #reservaForm input {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem; /* Tamaño de fuente normal */
  }

  #reservaForm button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }

  /* Contenedor de imágenes */
  #fotos {
    grid-gap: 20px;
  }


  /* Estilo para el mapa */
#mapid {
  /* Establecer una altura para el mapa */
  height: 250px;
  width: 100%;
}

/* Estilo para reducir el tamaño de los popups en Leaflet */
.leaflet-popup-content-wrapper {
  max-width: 200px; /* Ajusta el ancho máximo del popup */
  font-size: 9px; /* Ajusta el tamaño del texto dentro del popup */
}

.leaflet-popup-content {
  overflow: hidden; /* Asegura que el contenido dentro del popup no se desborde */
}




  #contacto {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 100px; /* Ajusta el margen inferior para dejar espacio para el footer */
  }

  /* Contenedor de información de contacto */
  .contact-info {
    margin: 0px auto;
    width: 95%;
  }

  .contact-info form input[type="text"],
  .contact-info form input[type="email"],
  .contact-info form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .contact-info form button {
    margin: 10px 0;
  }

  .contact-info ul li a {
    padding-right: 20px;
  }

  footer {


    position: relative; /* Prueba cambiando a relative en lugar de fixed */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Color de fondo */
    color: #d34b79;/* Color del texto */
    padding: 5px; /* Espacio interno */
    text-align: center; /* Alineación del texto */

 
  }
}
